/target
**/*.rs.bk
*.ec_data
*.sequences
*.gfa
*.fa
*.uhs
*.lcp
*.lcp.gz
small-example/*
*.fasta
src/trash.rs
ref/
*.graphml
*.png
*.pyc
*.txt
*.svg
perf*
runs
*.paf
Cargo.lock
src/graph.py
compute_err.py
